/* You can add global styles to this file, and also import other style files */

:root {
    --roboto: "Roboto", sans-serif;
    --inter: "Inter", sans-serif;

    --primary-color: #2E0052;
    --error-color: #FF0000;
}

body,
#root {
    width: 100vw;
    height: 100vh;
}