@import url("@web/styles.css");


.form {
    border: 2px solid #D9D9D9;
    border-radius: 6px;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}


.form_button {
    margin-top: 1.1rem;
}

.form_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    padding: 0 5%;
}

.form_error {
    margin-bottom: 0.7rem;
}

.form_header {
    font-size: 0.9rem;
    font-weight: 500;
    font-family: var(--roboto);

    margin-bottom: 0.8rem;
}

.form_header>span {
    font-weight: 300;
    font-size: 0.75rem;
}


.form_input {
    margin-bottom: 0.7rem;
    font-size: 0.8rem;
}

.form_input_error {
    margin-bottom: 0 !important;
    border-color: var(--error-color);
}


.link_button {
    width: 100%;
    padding: 0.75rem 0;
    border-radius: 8px;
}


.terms {
    font-size: 0.75rem;
    font-weight: 400;
    font-family: var(--roboto);
    text-align: left;

    margin: 1.3rem 0;
}

.welcome_text {
    font-weight: 400;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}


@media screen and (min-width: 768px) {
    .form {
        border-width: 3px;
        border-radius: 1.5rem;
        padding: 1.4rem 2rem;
    }

    .form_container {
        max-width: 480px;
        align-self: center;
    }

    .form_header {
        font-size: 1.7rem;
    }

    .form_header>span {
        display: none;
    }

    .welcome_text {
        display: none;
    }
}