@import url("@web/styles.css");


.link_text {
    font-family: var(--roboto);
    font-weight: 500;
    font-size: 0.8rem;

    text-align: center;

    margin: 1.3rem 0;
}


.link {
    font-weight: 400;
    margin-left: 0.15rem;
}


.register_info {
    font-weight: 500;
    font-size: 0.75rem;
    font-family: var(--roboto);
    text-align: left;

    margin-bottom: 0.5rem;
}


@media screen and (min-width: 768px) {
    .link_text {
        font-size: 1rem;
    }
}