@import url("@web/styles.css");

.button {
    font-family: var(--roboto);

    border-radius: 4px;
    padding: 0.5rem 0;

    cursor: pointer;
}

.button:disabled {
    cursor: not-allowed;
}

.filled {
    background: var(--primary-color);
    color: #fff;
}


.loading {
    cursor: wait !important;
}


.outline {
    background: #fff;
    color: #000;

    border: 2px solid #BDBDBD;
}