.option {
    padding: 0.2rem 0.8rem;
    background: #fff;
}


.select {
    border: 1px solid #E1E1E1;
    border-radius: 6px;
    background: #fff;

    font-family: var(--roboto);

    text-align: center;
    padding: 0.5rem 0;
}




@media screen and (min-width: 768px) {
    .select {
        border-radius: 1rem;
    }
}